/* styles/UpdatePassword.module.css */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* Add this line to center horizontally */
  min-height: 100vh;
  background: #ffffff;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 500px;
  padding: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 0 auto; /* Add this line to center horizontally */
}

.formGroup {
  width: 100%; /* Make sure form-group takes full width */
}

.formLabel {
  text-align: left; /* Align label text to the left */
  display: block; /* Make sure label takes full width */
}

.heading {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-family: 'Inter';
  font-weight: bold;
  font-size: 32px;
}

.subheading {
  margin-bottom: 1.5rem;
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Open Sans';
  font-size: 18px;
}

.passwordContainer {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 1rem;
  width: 100%;
}

.passwordInput {
  width: 100%;
  padding-right: 2rem;
}

.eyeIcon {
  position: absolute;
  right: 2rem;
  cursor: pointer;
}

.validationRow {
  margin-top: 1rem;
}

.validationCol {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
  
}

.validationItem {
  display: flex;
  align-items: center;
  font-size: 12px;
}

.valid {
  color: blue;
}

.invalid {
  color: red;
}

.validIcon {
  color: blue;
  margin-right: 0.5rem;
}

.invalidIcon {
  color: red;
  margin-right: 0.5rem;
}

.conditions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  width: 100%;
}

.success {
  color: blue;
}

.error {
  color: red;
}

.required {
  color: red;
}

.submitButton {
  background-color: #000;
  border: none;
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #000; /* Ensure button color does not change on hover */
}

.footer {
  text-align: center;
  padding: 1rem 0;
  background: #fff;
  font-size: 0.875rem;
  margin-top: rem;
}

.footer p {
  margin: 0;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 767px) {
  .content {
      padding: 1rem;
  }

  .passwordContainer {
      flex-direction: column;
  }

  .eyeIcon {
      position: relative;
      right: 0;
      margin-top: 0.5rem;
  }
}